<div class="h-screen pb-14 bg-right bg-cover" style="background-image:url('../../../../assets/images/landing-bg.svg');">
	<!--Nav-->
	<div class="w-full container mx-auto p-6">
			
		<div class="w-full flex items-center justify-between">
			<a class="flex items-center text-indigo-400 no-underline hover:no-underline font-bold text-2xl lg:text-4xl"  href="#"> 
                <img class="w-28 lg:mt-10" src="../../../../assets/brands/nasif-white.svg"/>
			</a>
			
		</div>

	</div>

	<!--Main-->
	<div class="container pt-12 md:pt-12 px-6 mx-auto flex flex-wrap flex-col md:flex-row items-center">
		
		<!--Left Col-->
		<div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
			<h1 class="my-4 text-3xl md:text-5xl text-purple-800 font-bold leading-tight text-center md:text-left slide-in-bottom-h1">Discover your dream car</h1>
			<p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left slide-in-bottom-subtitle">Find  your next car here on the world’s only public trade in auction platform.</p>
		
			<p class="text-blue-400 mt-10 font-bold pb-8 lg:pb-6 text-center md:text-left fade-in">Download from:</p>
			<div class="flex w-full justify-center md:justify-start pb-24 lg:pb-0 fade-in">
				<a href=""><img src="../../../../assets/images/app-store.svg" class="h-12 pr-4 bounce-top-icons"></a>
				<img src="../../../../assets/images/play-store.svg" class="h-12 bounce-top-icons">
			</div>

			<p class="text-blue-400 mt-20 font-bold pb-8 lg:pb-6 text-center md:text-left fade-in">Join Our Newsletter</p>
			<form class="flex w-full justify-center md:justify-start pb-24 lg:pb-0 fade-in" action="subscribeNewsLetter()" >
				<div class="px-4 py-1 rounded-lg border border-gray-100 tracking-wide focus:shadow-outline bg-white">
					<input class="w-full text-lg py-2 focus:outline-none" type="" placeholder="Enter your email" (keyup)="onKey($event, 'email')" >
				</div>
				<button type="button" class="bg-primary-500 text-white p-4 rounded-lg tracking-wide
                font-semibold font-display focus:outline-none focus:shadow-outline hover:bg-primary-600
                shadow-lg ml-4 disabled:bg-gray-200" [disabled]="!isValid" (click)="subscribeNewsLetter()">
					<img src="../../../../assets/images/send.svg" class="w-5" >
				</button>
			</form>
		</div>
		
		<!--Right Col-->
		<div class="w-full xl:w-3/5 py-6 overflow-y-hidden">
			<img  class="w-4/6 mx-auto lg:mr-20 slide-in-bottom" src="../../../../assets/images/device.svg">
		</div>
		
		<!--Footer-->
		<!-- <div class="w-full pt-16 pb-6 text-sm text-center md:text-left fade-in">
			<a class="text-gray-500 no-underline hover:no-underline" href="#">&copy; NASIF 2022</a>
		</div> -->
		
	</div>
</div>
